@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Judson:ital,wght@0,400;0,700;1,400&family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');


body {
  
  background: #1A1A1A;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font-family: "Kantumruy Pro", sans-serif;
  padding-bottom: 10px;
}

body input{
  border-radius: 4px;
}