

.UserContent{
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 5px;
    width: 340px;
    min-height: 250px;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 100px;
}

.UserContent h1{
    font-size: 32px;
}

.ImagesContet{
    width: 50px;
    height: 54px;
}

.containerImageText{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

.imageText p{
    margin-left: 20px;
    font-size: 20px;
}

  .button2 {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #1A1A1A;
    --button_outline_color: #FF4C4C;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }

  .button2M {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #3D3B3B;
    --button_outline_color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
    margin-top: 10px;
  }
  
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  .button2:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  .button2:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  .Buttons{
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.workContent{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  

.workImage{
    width: 40px;
    height: 44px;

}


.workU{
    background-color: #FFC107;
    border-radius: 5px;
    width: 350px;
    min-height: 225px;
}

.workU h2{
    font-size: 40px;
    border-bottom: 2px solid #1A1A1A; 
    margin-bottom: 15px;
    color: #1A1A1A;
}

.workU p{
    font-size: 20px;
    margin-left: 15px;
}

.workContent{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  

  .ModalCE{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    height: 400px;
    background-color: #3D3B3B;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 0 auto;
    text-align: center;
  }

  .ModalCE p{
    color: white;
  }

  .ModalCT{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: 400px;
    height: 200px;
    background-color: #3D3B3B;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin: 0 auto;
    text-align: center;
  }

  .ModalCT h1{
    font-size: 30px;
    color: white;
  }

  .ModalCT input {
    width: 300px;
    margin-bottom: 10px;
    border-radius: 4px;
  }

  .AddExer{
    margin: 0 auto;
    width: 200px;
    height: 80px;
    background-color: #FF4C4C;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 10px;
}

.AddExer button{
    width: 180px;
    height: 30px;
}