

.UserContent{
    margin: 0 auto;
    background-color: #ffff;
    border-radius: 5px;
    width: 340px;
    min-height: 250px;
    margin-top: 100px;
    padding: 10px;
    margin-bottom: 100px;
}

.UserContent h1{
    font-size: 32px;
}

.ImagesContet{
    width: 50px;
    height: 54px;
}

.containerImageText{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

.imageText p{
    margin-left: 20px;
    font-size: 20px;
}

  button {
    /* Variables */
    --button_radius: 0.75em;
    --button_color: #1A1A1A;
    --button_outline_color: #FF4C4C;
    font-size: 15px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: var(--button_radius);
    background: var(--button_outline_color);
  }
  
  .button_top {
    display: block;
    box-sizing: border-box;
    border: 2px solid var(--button_outline_color);
    border-radius: var(--button_radius);
    padding: 0.75em 1.5em;
    background: var(--button_color);
    color: var(--button_outline_color);
    transform: translateY(-0.2em);
    transition: transform 0.1s ease;
  }
  
  button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
  }
  
  button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
  }

  .Buttons{
    margin: 0 auto;
    max-width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}


.workContent{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  

.workImage{
    width: 40px;
    height: 44px;

}


.work{
    background-color: #FFC107;
    border-radius: 5px;
    width: 350px;
    min-height: 225px;
}

.work h2{
    font-size: 40px;
    border-bottom: 2px solid #1A1A1A; 
    margin-bottom: 15px;
    color: #1A1A1A;
}

.work p{
    font-size: 20px;
    margin-left: 15px;
}

.workContent{
    margin: 0 auto;
    text-align: center;
    max-width: 175px;
    display: flex;
    flex-direction: column;
}

.imageText {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  